{% extends 'base.html' %} {% load static %} {% block content %}
<div class="floating-buttons-container">
    
    <a href="https://wa.me/254706945620?text=Hi%20Sam%20Am%20reaching%20out%20the%20make%20some%20inquiries" target="_blank" class="floating-button whatsapp-button">
        <i class="fab fa-whatsapp"></i>
    </a>

   
    <a href="tel:+254706945620" class="floating-button phone-button">
        <i class="bi bi-phone"></i>
    </a>
</div>

<section class="hero-section hero-section-full-height">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-12 p-0">
                <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/constructions/constructions2.jpg" class="carousel-image img-fluid" alt="...">
                            
                            
                           
                        </div>

                      

                    </div>

                  
                </div>
            </div>

        </div>
    </div>
</section>
<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">

           

            <div class="col-lg-12 col-12">
              
                
                <div class="row">

                   
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0 text-center">
                            <h5 class="mb-3 text-center">Why We Were Founded</h5>

                                <p>Unicost Investment Limited was founded to bridge the gap between design and construction by offering clients a one-stop solution for all their building needs. Many clients often face challenges dealing with multiple consultants and contractors, which can lead to delays, cost overruns, and compromised quality.</p>



                            
              
                        </div>
                    </div>
            
                </div>



                
            </div>

        </div>
    </div>
    <div class="container-fluid bg-primary mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
        <div class="container">
          <div class="row g-2">
            <div class="col-md-10">
              <div class="row g-2"></div>
            </div>
          </div>
        </div>
      </div>
</section>


<section class="about-section section-padding">
    <div class="container">
        <h5 class="mb-3 text-center">Our Team</h5>
        <div class="row">

            <div class="col-lg-4 col-md-5 col-12">
                <br><br><br>    <br>  
                <img src="/static/images/logo/UNICOST Logo.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="Kerry Komar">
                <br>
                <ul class="social-icon mt-4 text-center">
                    <li class="social-icon-item">
                        <a href="https://x.com/sam" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://github.com/sam" class="social-icon-link bi-github" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="tel:0723424164" class="social-icon-link bi-telephone"></a>
                    </li>
                          <li class="social-icon-item">
                        <a href="https://www.linkedin.com/in/sam" class="social-icon-link bi-linkedin" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://medium.com/sam" class="social-icon-link bi-medium" target="_blank"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://wa.me/+254706945620?text=Hello Sam" class="social-icon-link bi-whatsapp" target="_blank"></a>
                    </li>
                </ul>
            </div>
            

            <div class="col-lg-8 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2>Samuel Sitandi</h2>

                    <p class="text-muted mb-lg-4 mb-md-4">
                        Quantity Surveyor & Project Manager
                    </p>
                    
                    <p>Samuel Sitandi is the founder and principal of Unicost Investment Limited. With a deep passion for design and construction, he has dedicated his career to creating functional, sustainable, and aesthetically inspiring spaces.</p>
                    
                    <p>Trained as a Quantity Surveyor and experienced in project management, Samuel brings a wealth of knowledge in both cost planning and project execution. His expertise spans residential, commercial, and infrastructure projects, where he combines technical precision with innovative solutions to deliver exceptional results.</p>
                    
                    <p>As a leader, he believes in a collaborative approach—working closely with clients, consultants, and construction teams to ensure every project reflects the client’s vision while meeting the highest standards of quality, safety, and cost efficiency.</p>
                    
                    <p>Under his guidance, Unicost Investment Limited has grown into a trusted design-and-build consortium, recognized for its professionalism, innovation, and commitment to excellence. Samuel continues to drive the company forward with a focus on integrity, client satisfaction, and sustainable development in Kenya’s built environment.</p>
                      </div>
            </div>

        </div>
    





</div>
</section>



 {% endblock %}