{% extends 'base.html' %} {% load static %} {% block content %}
<div class="floating-buttons-container">
    <a href="https://www.instagram.com/sitandi_jr/?utm_source=qr&igsh=MWRydmZjbDZoamxiNg%3D%3D#" target="_blank" class="floating-button instagram-button">
        <i class="bi bi-instagram" style="color: #E1306C;"></i>
    </a>

    <a href="https://wa.me/254706945620?text=Hi%20Sam%20Am%20reaching%20out%20the%20make%20some%20inquiries" target="_blank" class="floating-button whatsapp-button">
        <i class="fab fa-whatsapp"></i>
    </a>

   
    <a href="tel:+254706945620" class="floating-button phone-button">
        <i class="bi bi-phone"></i>
    </a>

   
</div>


    <section class="section-padding" id="section_3">
        <div class="container">
            <div class="col-lg-12 col-12 text-center mb-4">
                <h5 class="mb-3">{{ image.title}}</h5>
               
                <p>{{image.detail}}</p>
            </div>
    
            <!-- Start the row for the images here -->
            <p class="col-lg-12 col-12 text-center mb-4"> <strong> Let Unicost Investment Limited  be your offering comprehensive solutions from concept design to project completion, ensuring seamless delivery and exceptional results.</strong></p>
            
            <div class="container-fluid bg-primary mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 2px">
                <div class="container">
                  <div class="row g-2">
                    <div class="col-md-10">
                      <div class="row g-2"></div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
               
                {% for detail in image.details.all %}

               
                
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap">
                        
                        <img src="{{detail.detail_image.url}}" class="custom-block-image img-fluid equal-size" alt="{{ detail.title  }}">

    
                       
                    </div>
                    <br><br><br>
                </div>
                
               
                {% endfor %}
            </div> <!-- Close the row here -->
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'services' %}">Back</a>
            </div>
         
       
            <br><br><br>
        </div>
    </section>
    
    <style>
        .equal-size {
            width: 100%; /* Ensure the images take full width of the column */
            height: 200px; /* Set a fixed height */
            object-fit: cover; /* Ensures images cover the area without distorting their aspect ratio */
        }
    </style>


    {% endblock %}